<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductVersion="1.1" ?>
  <?define UpgradeCode="{634FC257-B249-480E-97C9-65A5619E79DA}"?>
  <?define ProductCode="{F8C34EAE-0C8A-4834-8E2C-24BFA8A4FDCE}"?>
  <?define PackageCode="{????????-????-????-????-????????????}"?>

  <Product Id="$(var.ProductCode)" Name="$(loc.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(loc.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package Id="$(var.PackageCode)" Platforms="Intel" Description="$(loc.Description)" Comments="$(loc.Comments)" Manufacturer="$(loc.Manufacturer)" InstallerVersion="200" Compressed="yes" Languages="1033" />

    <Media Id="1" Cabinet="Package.cab" EmbedCab="yes" />

    <!--Properties-->
    <Property Id="VSINSTALLDIR">
      <RegistrySearch Id="VSInstallRegistry" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0" Name="InstallDir"  Type="directory" />
    </Property>
    <Property Id="FX20INSTALLED">
      <RegistrySearch Id="Fx20InstalledRegistry" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v2.0.50727" Name="Install" Root="HKLM" Type="raw"/>
    </Property>
    <Property Id="FX35INSTALLED">
      <RegistrySearch Id="Fx35InstalledRegistry" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v3.5" Name="Install" Root="HKLM" Type="raw"/>
    </Property>
    <Property Id="VSROOTDIR">
      <RegistrySearch Id="VSRootRegistry" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="ProductDir" Type="directory" />
    </Property>

    <!-- Add/Remove Programs -->
    <Property Id="ARPCONTACT"><![CDATA[$(loc.Manufacturer)]]></Property>
    <Property Id="ARPPRODUCTICON">ProductIcon</Property>
    <Property Id="ARPURLINFOABOUT"><![CDATA[http://www.codeplex.com\snippetdesigner]]></Property>

    <Property Id="ALLUSERS">2</Property>

    <!--LaunchConditions-->
    <Condition Message="$(loc.BeAdministrator)">Privileged</Condition>
    <Condition Message="$(loc.NetFramework20Required)">FX20INSTALLED OR Installed</Condition>
    <Condition Message="$(loc.NetFramework35Required)">FX35INSTALLED OR Installed</Condition>
    <Condition Message="$(loc.VisualStudio2008Required)">VSINSTALLDIR OR Installed</Condition>

    <!--CustomActions-->
    <CustomAction Id="SetDefault_TARGETDIR" Return="check" Execute="firstSequence" Property="TARGETDIR" Value="[ProgramFilesFolder]$(loc.ProductName)" />
    <CustomAction Id="Set_DEVENV" Return="check" Execute="immediate" Property="DEVENV" Value="[VSINSTALLDIR]devenv.exe" />
    <CustomAction Id="ExecuteDevenvSetup" Property="DEVENV" Execute="deferred" Impersonate="no" ExeCommand="/setup" Return="asyncWait"/>

    <!--Install UI Sequence-->
    <InstallUISequence>
      <LaunchConditions After="AppSearch" />
      <Custom Action="Set_DEVENV" After="ValidateProductID">DEVENV=""</Custom>
      <Custom Action="SetDefault_TARGETDIR" After="Set_DEVENV">TARGETDIR=""</Custom>
      <Show Dialog="ResumeForm" After="IsolateComponents">Installed="" AND RESUME</Show>
      <Show Dialog="MaintenanceForm" After="ResumeForm"><![CDATA[Installed<>""]]></Show>
      <Show Dialog="WelcomeForm" After="CostFinalize">Installed="" AND NOT RESUME</Show>
      <Show Dialog="ProgressForm" After="WelcomeForm" />
      <Show Dialog="FatalErrorForm" OnExit="error">NOT HideFatalErrorForm</Show>
      <Show Dialog="UserExitForm" OnExit="cancel" />
      <Show Dialog="FinishedForm" OnExit="success" />
    </InstallUISequence>

    <!--Install Sequence-->
    <InstallExecuteSequence>
      <LaunchConditions After="AppSearch" />
      <Custom Action="Set_DEVENV" After="ValidateProductID">DEVENV=""</Custom>
      <Custom Action="SetDefault_TARGETDIR" After="Set_DEVENV">TARGETDIR=""</Custom>
      <Custom Action="ExecuteDevenvSetup" After="MsiPublishAssemblies" />
    </InstallExecuteSequence>

    <!--Features-->
    <Feature Id="ProductFeature" Level="1" ConfigurableDirectory="TARGETDIR">
      <ComponentRef Id="CreateTargetDirectory"/>
      <ComponentRef Id="MainFilesComponent" />
      <ComponentRef Id="PackageRegistryEntriesComponent" />
      <ComponentRef Id="NewItemFilesComponent" />
      <!--//TODO: Add reference to other components-->
      <!--
        <ComponentRef Id="ItemTemplatesFilesComponent" />
        <ComponentRef Id="ProjectTemplatesFilesComponent" />
        <ComponentRef Id="XsdFilesComponent" />
        <ComponentRef Id="OtherRegistryEntriesComponent" />
        -->
    </Feature>

    <!--Refs-->
    <FragmentRef Id="UIFragment"/>
    <FragmentRef Id="FilesFragment"/>
    <FragmentRef Id="PackageRegistryEntriesFragment"/>
    <FragmentRef Id="OtherRegistryEntriesFragment"/>

    <!--Product Icon-->
    <Icon Id="ProductIcon" SourceFile="Resources\Product.ico"/>

    <!--Bitmaps for UI-->
    <Binary Id="BannerBitmap" SourceFile="Resources\Banner.bmp" />
    <Binary Id="UpFldrBtn" SourceFile="Resources\Up.ico" />
    <Binary Id="NewFldrBtn" SourceFile="Resources\New.ico" />
  </Product>
</Wix>